<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<script type="text/javascript" src="{{ STATIC_URL }}jquery/js/jquery-1.5.1.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}jquery/js/jquery-ui-1.8.11.custom.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}DataTables/media/js/jquery.dataTables.min.js"></script>

<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}jquery/css/base.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}jquery/css/cupertino/jquery-ui-1.8.11.custom.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}DataTables/media/css/demo_page.css"></script>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}DataTables/media/css/demo_table.css"></script>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}DataTables/media/css/demo_table_jui.css"></script>


<script type="text/javascript">
    $(document).ready(function() {
    });
</script>
{% block ext_js %} {% endblock %}
{% block ext_css %} {% endblock %}
</head>
<body>
<div id="wrapper">
    {% block content %}{% endblock %}
</div>
</body>
</html>
